.home-agencies{
    height: 100%;
}

#search{
    border: 0 none;
    outline: 0;
    padding: 3px;
}

.filter{
    width: 280px;
    gap: 10px;
    display: flex;
    color: white;
    padding-left: 10px;
}