@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    height: 100vh;
    display: grid;
    grid-template-areas: 
    'header'
    'main'
    'footer';
    grid-template-rows: 10% 1fr 10%;
}

#root{
    grid-area: main;
    overflow: hidden;
}

footer{
    grid-area: footer;
    width: 100%;
    background-image: url('../imgs-videos/Background.png');
    background-position: center;
}

.home-astronaut{
    height: 100%;
    background-color: lightblue;
}

@media(max-width:700){
    #root{
        grid-area: main;
        height: auto;
    }
}
