@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto&display=swap');

body{
    height: 100vh;
    display: grid;
    grid-template-areas: 
    'header'
    'main'
    'footer';
    grid-template-rows: 10% 1fr 5%;
}

#root{
    grid-area: main;
    overflow: hidden;
}

footer{
    grid-area: footer;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
    background-image: url('../imgs-videos/Background.png');
    background-position: center;
}

@media(max-width:700){
    #root{
        grid-area: main;
        height: auto;
    }
}
